body{
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
#navbar header{
		margin-left: 25px;
}
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	min-width:300px;
	width:20%;
 	max-height: 700px;
	overflow-y: scroll;
	display: inline;
    border:2px solid black;
}
nav ul {
	list-style: none;
	margin-left:-15px; 
	padding-left: 0px;
 }
nav ul li {
	border-top:1px solid black ;
	padding-left: 40px;
	height:50px;
}
nav ul li a {
	color:#000;
	text-decoration: none;
	font-size: 20px;
	position: relative;
	top:13px;
}
nav ul li:last-child{
 	height: 35px;
 }
 #main-doc{
	position: absolute;
	left:310px; 
 	padding: 20px;
	width:74%;
 }
 section{
 	margin-bottom: 20px;
 }
 header{
 	font-size: 30px;
 }
 article{
 	margin-left: 25px;
 	font-size: 17px;
 }
 article p ,article ul li{
 	line-height:23px; 
	text-align: justify;
	margin-bottom: 10px;
 }
 section article code {
 	background-color: #f7f7f7;
	display: block;
	padding: 10px;
	white-space: pre;
	font-size: 13px;
	border-radius: 5px;
	min-height: 23px;
	margin-left: 15px;
}
section ul li ul {
	list-style: disc;
}
@media screen and (max-width: 815px){
	#navbar{
		  width:100%;
		  height:300px;
		  overflow-y: scroll;
		  display: inline-block;
		  position: relative;
		  left:0px;
	}
	main{
		display: block;
		position: relative;
		left: 0px !important;
		width: 95% !important;
		margin: auto;
	}
	article{
		margin:auto;
		margin-left: 10px;
		width:90%;
	}
	code{
		min-width:100%;
		font-size: 12px !important;
		margin-left:-10px !important;
	}
}